* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #548687;
    text-align: center;
  }
  main{
    font-size:30px;
    color: black;
  }
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    border: 10px solid #0202028e;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
  }
  
  .box {
    height: 19vmin;
    width: 19vmin;
    border: 2px solid black;
    font-size: 8vmin;
    color: red;
    background-color: #d3d38a;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 2rem;
    background-color: #191913;
    color: #fff;
    border-radius: 10rem;
    border: 5px solid black;
  }
  #reset-btn:hover{
    background-color: #ffffc7;
    color: #191913;
  }

  
  #new-btn {
    padding: 1rem;
    font-size: 2rem;
    background-color: #191913;
    color: #fff;
    border-radius: 10rem;
    border: 5px solid black;
  }

  #new-btn:hover{
    background-color: aliceblue;
    color: #191913;
  }
  
  #msg {
    color: green;
    font-size: 10vmin;
    font-weight: bolder;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }